:root {
	--foreground-img-size: 32vw;
}

.home-wrapper {
	position: relative;
	width: 100%;
	height: fit-content;
	overflow: hidden;
}

/**/

.animated-background {
	margin-top: 7%;
	margin-left: 12%;
	width: 79vw;
	height: 79vh;
	perspective: 3000px;
	transform-style: preserve-3d;
	animation-timing-function: linear;
	animation: image-shift 10s 0.5s infinite alternate;
}

.animated-background img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.floating-images {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 35vw;
	height: 20vh;
	transform-style: preserve-3d;
	width: var(--foreground-img-size);
	height: auto;
}

.foreground-images img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.foregroundCoding {
	transform: translate(9%, 18%) translateZ(50px);
}

.computer {
	transform: translate(-35%, 85%) translateZ(125px);
}

.analysis {
	transform: translate(-70%, 155%) translateZ(75px);
}

@keyframes image-shift {
	0% {
		transform: rotateX(25deg) rotateY(75deg) rotateZ(-20deg)
			translateZ(100px);
	}
	100% {
		transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-100px);
	}
}

@media (min-width: 1200px) {
	:root {
		--foreground-img-size: 30vw;
	}
}

@media (min-width: 1400px) {
	:root {
		--foreground-img-size: 24vw;
	}
}

/* Media Queries for different screen sizes 
@media (max-width: 1200px) {
	:root {
		--foreground-img-size: 30vw;
	}
}

@media (max-width: 768px) {
	:root {
		--foreground-img-size: 30vw;
	}
}

@media (max-width: 480px) {
	:root {
		--foreground-img-size: 30vw;
	}
}
*/
